<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="accessToken" value="968195499697278977-h8LRnSDbGnVziwazVvgq8OCQyuvcaLH"/>
    <add key="accessTokenSecret" value="tweUelFi3qD7NCcpp8pfJ8o4G9aT73xvKsaJ6tGOXQGp4"/>
    <add key="consumerKey" value="FVGwqaJyk1gy5OitrktPCjNiF"/>
    <add key="consumerSecret" value="qQHZT0ngPUaKE6WCrkIZh1zbzhYHbQ1sW7sn0QDmL0ZTzMgxBE"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
</configuration>
